
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Header {
  text-align: center;
  background-color: #FAFAFA;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: black;
  
}

.App-link {
  color: #61dafb;
}

.mainPage {
  display: flex;
}

.title {
  margin-top: 50px;
  margin-bottom: 50px;
  font-family: 'Aboreto';

}

.col-6 {
  background-color: #FAFAFA;
}

.message1 {
  text-align: center;
  font-family: 'Aboreto';
  
}

.message2 {
  font-family: 'Aboreto';
  text-align: center;
  font-style: italic;
}


